/*d*/
:root{
--white: #fafafa;
--green: #1bb94d;


}

body{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(110,109,219,0.6111694677871149) 49%, rgba(148,187,233,0.8436624649859944) 100%);
}

/*Perfil*/

.perfil h1{
    color: var(--white);
}

.perfil span{
    color: var(--white);
    letter-spacing: 1px;
}

#fecha{
    color: var(--white);
    padding: 50px 0px 5px 0px;
}

/*Agregar Tarea*/

.agregar-tarea{
    background-color: var(--white);
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 70px; /*Serapa el elemento del icono*/
}

.agregar-tarea input{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--white);

}

.agregar-tarea i{
    color: var(--green);
}